.login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    height: 697.57px;
    width: 1263px;
    background-repeat: no-repeat;
    position: fixed;
    background-image: url(../assets/signgp.svg);
    align-items: center;
    justify-content: center;
    display: flex;
}


.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
    height: 300px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top:150px;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background: linear-gradient( 158deg,#f56fad,#c32bad);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:focus{
  outline: none;
}

.loginButton:disabled{
  cursor: not-allowed;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
}

.loginRegisterButton {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(158deg,#23dfeb,#d03cad);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.vl2 {
    border-left: 2px solid grey;
    height: 150px;
    top:80px;
    position: relative;
}