.SR_cont {
    float: left;
    display: block;
    margin-left: 30px;
    background-image: url(../assets/Rectangle.svg);
    background-size: 250px;
    background-repeat: no-repeat;
    display: block;
    width: 250px;
    height: 250px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.act_cont_vectore {
    padding-top: 20px;
}

.App {
    text-align: inherit;
}

.App-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.act-link {
    color: white;
}
