.sidebar {
    flex: 3;
    height: calc(95vh - 100px);
    border-radius: 35px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    overflow-y: scroll;
    position: sticky;
    top: 100px;
    background: rgba(245, 245, 245, 0.8);
    left:10px;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
}
::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 35px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 35px;
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 15px;
}

.LogoutButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}


